    <section class="check-in_container">
      <div class="registred">
        <form class="email-password" method="post">
          <div>
          <p>Name<sup>&#42;</sup></p>
          <input type="text" name="name" placeholder="name" required>
          </div>
          <div>
          <p>Gender<sup>&#42;</sup></p>
          <div class="margin-bottom-for-checkout margin-left">
            <input type="radio" class="radio" name="gender" id="M" value="1" checked><label class="margin-right"
              for="M">Men</label>
            <input type="radio" class="radio" name="gender" id="W" value="2" ><label for="W">Woman</label>
          </div>
          </div>
          <div>
          <p>EMAIL&nbsp;ADDRESS<sup>&#42;</sup></p>
          <input type="text" name="email" placeholder="email" required>
          </div>
          <div>
          <p>ADD Credit card<sup>&#42;</sup></p>
          <input class="delete-arrow" type="text" name="credit_card" placeholder="credit card" required>
          </div>
          <p class=" last-p"><sup>&#42;</sup>Required Fileds</p>
          <div class="flex-special">
            <input class="log-in" type="submit" value="Save Changes">
           </div>
        </form>
      </div>
    </section>