    <div class="content-account-personal">
      <img class="content-account-personal_image" src="img/footer/img-face.png" alt="user">
      <div class="content-account-personal__info">
        <p>Welcome <span>Kirill</span></p>
      </div>
      <div class="content-account-personal__orders">
        <p>ORders number 1111: Ok</p>
        <p>ORders number 1111: Ok</p>
        <p>ORders number 1111: Ok</p>
        <p>ORders number 1111: Ok</p>
        <p>ORders number 1111: Ok</p>

      </div>
    </div>