<script src="js/users.js"></script>
  <script src="js/validation.js"></script>
  <script src="js/basket.js"></script>
  <script>  (function ($) {
    $(function () {
    user.getInfo();
    user.changeUser();
    user.getOrders();
    cart.init();
    })
  })
  (jQuery);</script>