    <div class="content-account-sidenav">
      <h3 class="content-account-sidenav__headline">Menu</h3>
      <ul class="content-account-sidenav__menu">
        <li><a class="content-account-sidenav__menu__link" href="#">My orders</a></li>
        <li><a class="content-account-sidenav__menu__link" href="#">Settings</a></li>
        <li><a class="content-account-sidenav__menu__link" href="#">Exit</a></li>
      </ul>
    </div>