    <div class="content-account-sidenav">
      <h3 class="content-account-sidenav__headline">Menu</h3>
      <ul class="content-account-sidenav__menu">
        <li><a class="content-account-sidenav__menu__link" href="#">My orders</a></li>
        <li><a class="content-account-sidenav__menu__link" href="index.php?page=account&act=settings">Settings</a></li>
        <li><a class="content-account-sidenav__menu__link" href="methods.php?page=account&m=logout">Exit</a></li>
      </ul>
    </div>