<section class="addres-discount-check">
  <div class="shipping-addres">
    <h3 class="text-in-addres-discount-check">Shipping Adress</h3>
    <div class="shipping-addres__position">
      <select class="select addres-style addres-style__width" name="country" id="country">
        <option value="Bangladesh">
          Bangladesh
        </option>
        <option value="USA">
          USA
        </option>
        <option value="Russia">
          Russia
        </option>
      </select>
      <form class="special-number position-in-addres" action="#">
        <input type="text" class="border-input-text text-style-addres-discount-check addres-style"
               placeholder="State">
        <input type="number" class="border-input-text text-style-addres-discount-check addres-style "
               placeholder="Postcode / Zip">
      </form>
    </div>
    <div class="shipping-addres__position-special">
      <a href="#" class="button-text-grey style-get-a-quote">get a&nbsp;quote</a></div>
  </div>
  <div class="discount">
    <h3 class="text-in-addres-discount-check">coupon discount</h3>
    <p class="p-style-discount">Enter your coupon code if&nbsp;you have one</p>
    <form class="special-number " action="#">
      <input type="text" class="border-input-text text-style-addres-discount-check addres-style"
             placeholder="State">
    </form>
    <div class="discount__position-special">
      <a href="#" class="button-text-grey style-get-a-quote special-style-coupon">Apply coupon</a>
    </div>
  </div>
  <div class="proccesed-check">
    <div class="position-proccesed-check">
      <p class="p-in-proccesed">Sub total <span>$<span class="sub-total">900</span></span></p>
      <p class="p-in-grand-total">GRAND TOTAL <span>$<span class="sub-total">900</span></span></p>
      <div class="container-for-button">
        <div class="button-proccesed-to-checkout">proceed to&nbsp;checkout</div>
      </div>
    </div>
  </div>

</section>