<section class="shoping-cart">
  {{product_info | raw}}
  {{good | raw}}
  <div class="button-shoping-cart">
    <a href="#" class="button-text-grey">cLEAR SHOPPING CART</a>
    <a href="#" class="button-text-grey">cONTINUE sHOPPING</a>
  </div>
</section>

{{addres_discount_check | raw }}