<section class="shoping-cart">
  {{product_info | raw}}
  <div id="cart-page">
  {{good | raw}}
  </div>
  <div class="button-shoping-cart">
    <a href="#" class="button-text-grey">cLEAR SHOPPING CART</a>
    <a href="index.php?page=product" class="button-text-grey">cONTINUE sHOPPING</a>
  </div>
</section>

{{addres_discount_check | raw }}