  <div class="img-product-item">
    <div class="img-info-product">
      <img src="img/shoping-cart2.jpg" alt="product">
      <div class="info-description-product">
        <p class="description-product">Mango People T-shirt</p>
        <div class="description-product__smal">
          <p><span class="special-color-shoping-cart">Color:</span> Red</p>
          <p><span class="special-color-shoping-cart">Size:</span> Xll </p>
        </div>
      </div>
    </div>
    <div class="other-info">
      <p class="price-shoping-cart position-shoping-cart">$150</p>
      <form action="#">
        <input class="border-input price-shoping-cart position-input" type="number" min="0" value="2">
      </form>
      <p class="price-shoping-cart position-text-p">FREE</p>
      <p class="price-shoping-cart position-subtoal">$300</p>
      <i class="fas fa-times-circle positin-action hover-element"></i>
    </div>
  </div>