  <div class="product-details">
    <p class="product-details-text">Product Details</p>
    <div class="left-product-details">
      <p class="product-details-text">unite Price</p>
      <p class="product-details-text special-position-text-shoping-cart">Quantity</p>
      <p class="product-details-text">shipping</p>
      <p class="product-details-text  special-position-text-shoping-cart-subtotal">Subtotal</p>
      <p class="product-details-text">ACTION</p>
    </div>
  </div>