<script src="js/basket.js"></script>
<script>
  (function ($) {
    $(function () {
      cart.init();
      cart.cartPage();
      cart.updatePrice();
      cart.removeGods();
      cart.cartUpdateOrders();
    })
  })
  (jQuery);
</script>