    <section>
      <div class="futered-items">
        <h5 class="items-h5">Fetured Items</h5>
        <p class="items-p">Shop for items based on&nbsp;what we&nbsp;featured in&nbsp;this week</p>
      </div>
      <div class="img-items">
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!--<div class="parent-product">-->
          <!--<a class="product" href="single_page.php"> <img class="img" src="img/index/items-img1.png"-->
                                                           <!--alt="items-poduct">-->
            <!--<div class="product-info">-->
              <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
          <!--</a>-->
          <!--<div class="parent-add-cart">-->
            <!---->
            <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
              <!--<span>Add to&nbsp;Cart</span>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!--<div class="parent-product">-->
          <!--<a class="product" href="single_page.php"> <img class="img" src="img/index/items-img2.png"-->
                                                           <!--alt="items-poduct">-->
            <!--<div class="product-info">-->
              <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
          <!--</a>-->
          <!--<div class="parent-add-cart">-->
            <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
              <!--<span>Add to&nbsp;Cart</span>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="parent-product">-->
          <!--<a class="product" href="single_page.php"> <img class="img" src="img/index/items-img3.png"-->
                                                           <!--alt="items-poduct">-->
            <!--<div class="product-info">-->
              <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
          <!--</a>-->
          <!--<div class="parent-add-cart">-->
            <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
              <!--<span>Add to&nbsp;Cart</span>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="parent-product">-->
          <!--<a class="product" href="single_page.php"> <img class="img" src="img/index/items-img4.png"-->
                                                           <!--alt="items-poduct">-->
            <!--<div class="product-info">-->
              <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
          <!--</a>-->
          <!--<div class="parent-add-cart">-->
            <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
              <!--<span>Add to&nbsp;Cart</span>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="parent-product">-->
          <!--<a class="product" href="single_page.php"> <img class="img" src="img/index/items-img5.png"-->
                                                           <!--alt="items-poduct">-->
            <!--<div class="product-info">-->
              <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
          <!--</a>-->
          <!--<div class="parent-add-cart">-->
            <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
              <!--<span>Add to&nbsp;Cart</span>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="parent-product">-->
          <!--<a class="product" href="single_page.php"> <img class="img" src="img/index/items-img6.png"-->
                                                           <!--alt="items-poduct">-->
            <!--<div class="product-info">-->
              <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
          <!--</a>-->
          <!--<div class="parent-add-cart">-->
            <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
              <!--<span>Add to&nbsp;Cart</span>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="parent-product">-->
          <!--<a class="product" href="single_page.php"> <img class="img" src="img/index/items-img7.png"-->
                                                           <!--alt="items-poduct">-->
            <!--<div class="product-info">-->
              <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
          <!--</a>-->
          <!--<div class="parent-add-cart">-->
            <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
              <!--<span>Add to&nbsp;Cart</span>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="parent-product">-->
          <!--<a class="product" href="single_page.php"> <img class="img" src="img/index/items-img8.png"-->
                                                           <!--alt="items-poduct">-->
            <!--<div class="product-info">-->
              <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
          <!--</a>-->
          <!--<div class="parent-add-cart">-->
            <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
              <!--<span>Add to&nbsp;Cart</span>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
      </div>
      <div class="button-all-product"><a href="index.php?page=product">Browse All Product<i
          class="fa fa-long-arrow-alt-right"></i></a></div>
    </section>