    <aside class="offer">
      <div>
        <a href="#">
          <div class="big-offer big-offer1">
            <div class="offer-text-big1">
              <p class="offer-p">hOT dEAL</p>
              <h4 class="offer-h4">FOR MEN</h4></div>
          </div>
        </a>
        <a href="#">
          <div class="small-offer small-offer1">
            <div class="offer-text-small1">
              <p class="offer-p"> LUXIROUS &amp;&nbsp;trendy</p>
              <h4 class="offer-h4">ACCESORIES</h4></div>
          </div>
        </a>
      </div>
      <div>
        <a href="#">
          <div class="small-offer small-offer2">
            <div class="offer-text-small2">
              <p class="offer-p">30% offer</p>
              <h4 class="offer-h4">women</h4></div>
          </div>
        </a>
        <a href="#">
          <div class="big-offer big-offer2">
            <div class="offer-text-big2">
              <p class="offer-p"> new arrivals</p>
              <h4 class="offer-h4">FOR kids</h4></div>
          </div>
        </a>
      </div>
    </aside>