 <div class="slider">
      <div class="slider-text">
        <h3 class="slider-head">THE BRAND</h3>
        <p class="slider-p">OF&nbsp;LUXERIOUS <span class="slider-span">FASHION</span></p>
      </div>
    </div>