    <div class="high-block-choose">


      <div class="choose-link">
        <h4 class="h4-choose">Trending now</h4>
        <div class="text-choose-link choose-link__text-choose-link"><a class="link-text" href="#">Bohemian </a>
          <a class="link-text" href="#">Floral</a> <a class="link-text" href="#">Lace </a> <a
              class="link-text" href="#">Lace </a> <a class="link-text" href="#">Floral</a> <a
              class="link-text" href="#">Bohemian </a></div>
      </div>

      <div class="choose-checkbox">
        <h4 class="h4-choose">Size</h4>
        <div class="choose-check-box choose-checkbox__choose-check-box">
          <label class="checkbox">
            <input type="checkbox">
            <div class="text-size "> XXS</div>
          </label>
          <label class="checkbox">
            <input type="checkbox">
            <div class="text-size "> XS</div>
          </label>
          <label class="checkbox">
            <input type="checkbox">
            <div class="text-size "> S</div>
          </label>
          <label class="checkbox">
            <input type="checkbox">
            <div class="text-size "> M</div>
          </label>
          <label class="checkbox">
            <input type="checkbox">
            <div class="text-size "> L</div>
          </label>
          <label class="checkbox">
            <input type="checkbox">
            <div class="text-size "> XL</div>
          </label>
          <label class="checkbox">
            <input type="checkbox">
            <div class="text-size "> XXL</div>
          </label>
        </div>
      </div>
      <div class="choose-price">
        <h4 class="h4-choose">pRICE</h4>
        <div class="block-price choose-price__block-price">
          <div class="choose-price-line"></div>
          <div class="choose-price-text block-price__choose-price-text">
            <p class="text-price">$52</p>
            <p class="text-price">$400</p>
          </div>
        </div>
      </div>
    </div>