<section class="product-flex">
  {{ sidenav | raw }}
  <div class="right-product">
    {{ choose | raw }}
    {{sort | raw }}
    {{goods | raw }}
    <div class="pagination">
      <div class="slider-number"></div>
      <a id="view-all" class="special-link-text" href="#">View All</a>
    </div>
  </div>
</section>
<aside class="futered-box">
  <!--
                  <div class="item-offer">
                      <img src="img/car.svg" alt="delivery">
                  </div>
  -->
  <div class="service-special futered-box__service-special">
    <article class="special-service-delivery"><img src="img/car.svg" alt="delivery">
      <div class="delivery-text special-delivery-text">
        <h6 class="dilevery-text-h6">Free Delivery</h6>
        <p class="delivery-text-p special-text-p">Worldwide delivery on&nbsp;all. Authorit tively morph
          next-generation innov tion with extensive models.</p>
      </div>
    </article>
    <article class="special-service-delivery "><img src="img/sales.svg" alt="delivery">
      <div class="sales-text special-delivery-text">
        <h6 class="dilevery-text-h6">Sales &amp;&nbsp;discounts</h6>
        <p class="delivery-text-p special-text-p">Worldwide delivery on&nbsp;all. Authorit tively morph
          next-generation innov tion with extensive models.</p>
      </div>
    </article>
    <article class="special-service-delivery"><img src="img/crown.svg" alt="delivery">
      <div class="delivery-text special-delivery-text">
        <h6 class="dilevery-text-h6">Quality assurance</h6>
        <p class="delivery-text-p special-text-p">Worldwide delivery on&nbsp;all. Authorit tively morph
          next-generation innov tion with extensive models.</p>
      </div>
    </article>
  </div>
</aside>