    <div class="img-items">


      <!--<div class="parent-product">-->
      <!--<a class="product" href="single_page.html"> <img class="img"-->
      <!--src="img/product-page/product-1.jpg"-->
      <!--alt="items-poduct">-->
      <!--<div class="product-info special-color-p-product">-->
      <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
      <!--</a>-->
      <!--<div class="parent-add-cart">-->
      <!--<div class="link-special-product">-->
      <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
      <!--<span>Add to&nbsp;Cart</span>-->
      <!--</a>-->
      <!--<div class="flex-svg-item">-->
      <!--<a class="active-link" href="#"><img src="img/change.svg" alt="change"></a>-->
      <!--<a class="active-link" href="#"> <img src="img/Like.svg" alt="like"></a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
      <!--<div class="parent-product">-->
      <!--<a class="product" href="single_page.html"> <img class="img"-->
      <!--src="img/product-page/product-2.jpg"-->
      <!--alt="items-poduct">-->
      <!--<div class="product-info special-color-p-product">-->
      <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
      <!--</a>-->
      <!--<div class="parent-add-cart">-->
      <!--<div class="link-special-product">-->
      <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
      <!--<span>Add to&nbsp;Cart</span>-->
      <!--</a>-->
      <!--<div class="flex-svg-item">-->
      <!--<a class="active-link" href="#"><img src="img/change.svg" alt="change"></a>-->
      <!--<a class="active-link" href="#"> <img src="img/Like.svg" alt="like"></a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="parent-product">-->
      <!--<a class="product" href="single_page.html"> <img class="img"-->
      <!--src="img/product-page/product-3.jpg"-->
      <!--alt="items-poduct">-->
      <!--<div class="product-info special-color-p-product">-->
      <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
      <!--</a>-->
      <!--<div class="parent-add-cart">-->
      <!--<div class="link-special-product">-->
      <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
      <!--<span>Add to&nbsp;Cart</span>-->
      <!--</a>-->
      <!--<div class="flex-svg-item">-->
      <!--<a class="active-link" href="#"><img src="img/change.svg" alt="change"></a>-->
      <!--<a class="active-link" href="#"> <img src="img/Like.svg" alt="like"></a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="parent-product">-->
      <!--<a class="product" href="single_page.html"> <img class="img"-->
      <!--src="img/product-page/product-4.jpg"-->
      <!--alt="items-poduct">-->
      <!--<div class="product-info special-color-p-product">-->
      <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
      <!--</a>-->
      <!--<div class="parent-add-cart">-->
      <!--<div class="link-special-product">-->
      <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
      <!--<span>Add to&nbsp;Cart</span>-->
      <!--</a>-->
      <!--<div class="flex-svg-item">-->
      <!--<a class="active-link" href="#"><img src="img/change.svg" alt="change"></a>-->
      <!--<a class="active-link" href="#"> <img src="img/Like.svg" alt="like"></a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="parent-product">-->
      <!--<a class="product" href="single_page.html"> <img class="img"-->
      <!--src="img/product-page/product-5.jpg"-->
      <!--alt="items-poduct">-->
      <!--<div class="product-info special-color-p-product">-->
      <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
      <!--</a>-->
      <!--<div class="parent-add-cart">-->
      <!--<div class="link-special-product">-->
      <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
      <!--<span>Add to&nbsp;Cart</span>-->
      <!--</a>-->
      <!--<div class="flex-svg-item">-->
      <!--<a class="active-link" href="#"><img src="img/change.svg" alt="change"></a>-->
      <!--<a class="active-link" href="#"> <img src="img/Like.svg" alt="like"></a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="parent-product">-->
      <!--<a class="product" href="single_page.html"> <img class="img"-->
      <!--src="img/product-page/product-6.jpg"-->
      <!--alt="items-poduct">-->
      <!--<div class="product-info special-color-p-product">-->
      <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
      <!--</a>-->
      <!--<div class="parent-add-cart">-->
      <!--<div class="link-special-product">-->
      <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
      <!--<span>Add to&nbsp;Cart</span>-->
      <!--</a>-->
      <!--<div class="flex-svg-item">-->
      <!--<a class="active-link" href="#"><img src="img/change.svg" alt="change"></a>-->
      <!--<a class="active-link" href="#"> <img src="img/Like.svg" alt="like"></a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="parent-product">-->
      <!--<a class="product" href="single_page.html"> <img class="img"-->
      <!--src="img/product-page/product-7.jpg"-->
      <!--alt="items-poduct">-->
      <!--<div class="product-info special-color-p-product">-->
      <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
      <!--</a>-->
      <!--<div class="parent-add-cart">-->
      <!--<div class="link-special-product">-->
      <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
      <!--<span>Add to&nbsp;Cart</span>-->
      <!--</a>-->
      <!--<div class="flex-svg-item">-->
      <!--<a class="active-link" href="#"><img src="img/change.svg" alt="change"></a>-->
      <!--<a class="active-link" href="#"> <img src="img/Like.svg" alt="like"></a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="parent-product">-->
      <!--<a class="product" href="single_page.html"> <img class="img"-->
      <!--src="img/product-page/product-8.jpg"-->
      <!--alt="items-poduct">-->
      <!--<div class="product-info special-color-p-product">-->
      <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
      <!--</a>-->
      <!--<div class="parent-add-cart">-->
      <!--<div class="link-special-product">-->
      <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
      <!--<span>Add to&nbsp;Cart</span>-->
      <!--</a>-->
      <!--<div class="flex-svg-item">-->
      <!--<a class="active-link" href="#"><img src="img/change.svg" alt="change"></a>-->
      <!--<a class="active-link" href="#"> <img src="img/Like.svg" alt="like"></a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="parent-product">-->
      <!--<a class="product" href="single_page.html"> <img class="img"-->
      <!--src="img/product-page/product-9.jpg"-->
      <!--alt="items-poduct">-->
      <!--<div class="product-info special-color-p-product">-->
      <!--<p>Mango People T-shirt</p> <span>$52.00</span></div>-->
      <!--</a>-->
      <!--<div class="parent-add-cart">-->
      <!--<div class="link-special-product">-->
      <!--<a class="active-link" href="#"> <img src="img/cart-white.svg" alt="add-to-card">-->
      <!--<span>Add to&nbsp;Cart</span>-->
      <!--</a>-->
      <!--<div class="flex-svg-item">-->
      <!--<a class="active-link" href="#"><img src="img/change.svg" alt="change"></a>-->
      <!--<a class="active-link" href="#"> <img src="img/Like.svg" alt="like"></a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!---->


    </div>