<script src="js/catalog.js"></script>
<script src="js/basket.js"></script>
<script>
  (function ($) {
    $(function () {
      catalog.productPage();
      cart.init();
    })
  })
  (jQuery);
</script>