      <div class="left-details-list">
        <details class="category " open>
          <summary>
            <h3 class="category-h3 active-elment">Category <span><i class="fa fa-caret-down"></i></span>
            </h3></summary>
          <ul class="category-list">
            <li> Accessories</li>
            <li>Bags</li>
            <li>Denim</li>
            <li>Hoodies &amp;&nbsp;Sweatshirts</li>
            <li>Jackets &amp;&nbsp;Coats</li>
            <li>Pants</li>
            <li>Polos</li>
            <li>Shirts</li>
            <li>Shoes</li>
            <li>Shorts</li>
            <li>Sweaters &amp;&nbsp;Knits</li>
            <li>T-Shirts</li>
            <li>Tanks</li>
          </ul>
        </details>
        <details class="category">
          <summary>
            <h3 class="category-h3">BRAND <span><i class="fa fa-caret-down"></i></span></h3></summary>
        </details>
        <details class="category">
          <summary>
            <h3 class="category-h3">dESIGNER<span><i class="fa fa-caret-down"></i></span></h3></summary>
        </details>
      </div>