    <div class="right-product__sort">
      <div class="sort-by">
        <div class="sort-text">Sort By</div>
        <div class="select-sort">
          <select class="sort" name="sort">
            <option value="name">Name</option>
            <option value="price">Price</option>
            <option value="popularity">Popularity</option>
          </select>
          <i class="fas fa-caret-down arrow"></i>
        </div>
      </div>
      <div class="sort-by">
        <div class="sort-text">Show</div>
        <div class="select-sort">
          <select class="sort sort-number" name="show">
            <option value="9">9</option>
            <option value="12">12</option>
            <option value="15">15</option>
          </select>
          <i class="fas fa-caret-down arrow-number"></i>
        </div>
      </div>
    </div>