  <div class="choose-size-color">
    <div class="choose-color">
      <h5>CHOOSE COLOR</h5>
      <select class="select" name="color" id="color">
        <option value="pink">
          Red
        </option>
        <option value="pink">
          Grey
        </option>
        <option value="pink">
          Black
        </option>
      </select>
    </div>
    <div class="choose-color">
      <h5>CHOOSE SIZE</h5>
      <select class="select" name="size" id="size">
        <option value="pink">
          XXL
        </option>
        <option value="pink">
          XL
        </option>
        <option value="pink">
          L
        </option>
      </select>
    </div>
    <div class="choose-color">
      <h5>QUANTITY</h5>
      <select class="select" name="count" id="count">
        <option value="pink">
          2
        </option>
        <option value="pink">
          3
        </option>
        <option value="pink">
          4
        </option>
      </select>
    </div>
  </div>