      <div class="carousel_box img-model">
        <img class="img-single-page" src="img/single_page.jpg" alt="model"></div>
      <div class="carousel_box img-model">
        <img class="img-single-page" src="img/single_page.jpg" alt="model"></div>
     <!--   <?= $product[src] ?> -->
