      <div class="carousel_box img-model">
        <img class="img-single-page" src="{{ product }}" alt="model"></div>
      <div class="carousel_box img-model">
        <img class="img-single-page" src="{{ product }}" alt="model"></div>
     <!--   <?= $product[src] ?> -->
