<script src="js/validation.js"></script>
<script src="js/reviews.js"></script>
<script src="js/catalog.js"></script>
<script src="js/jq.carousel.min.js"></script>
<script src="js/jq.carousel.js"></script>
<script src="js/basket.js"></script>
<script>
  (function ($) {
    $(function () {
      //reviews.sendReview();
           cart.init();
      catalog.renderProduct();
      var $carousel = $('#carousel').carousel({
          start: 2,
          indicator: true,
          duration: 0.3,
        }
      );
      $('#carousel_prev').on('click', function (ev) {
        $carousel.carousel('prev');
      });
      $('#carousel_next').on('click', function (ev) {
        $carousel.carousel('next');
      });
    })
  })
  (jQuery);
</script>