<section class="silder-goods">
  <div class="carousel">
    <div id="carousel" class="carousel_inner">
    {{ image_good | raw }}
    </div>
    <div class="carousel-arrow">
      <i id="carousel_prev" class="fas fa-angle-left"></i>
      <i id="carousel_next" class="fas fa-angle-right"></i>
    </div>
  </div>
</section>