 <div class="breadcrumb">
      <div class="breadcrumb-text">
        <h3>New Arrivals</h3>
        <div class="breadcrumb-link"><a href="index.php">Home</a>/ <a href="#">Men </a>/ <a
            href="#"><span>New Arrivals</span>
        </a></div>
      </div>
    </div>