  <footer class="footer">
    <section class="short-info">
      <div class=" short-info-text">



        <div class="short-info-discription-img"><img src="img/footer/img-face.png" alt="">
          <div class="short-info-text-discription">
            <p class="short-info-quote">&laquo;Vestibulum quis porttitor dui! Quisque viverra nunc&nbsp;mi,
              a&nbsp;pulvinar purus condimentum&nbsp;a. Aliquam condimentum mattis neque sed pretium&raquo;</p>
            <p class="short-info-name">Bin Burhan</p>
            <p class="short-info-">Dhaka, Bd</p>
            <div class="swap">
              <a class="swap1" href="#"></a>
              <a class="swap2" href="#"></a>
              <a class="swap1" href="#"></a>
            </div>
          </div>
        </div>

        <div class="subscribe-container">
          <div class="subscride">
            <h5>Subscribe</h5>
            <p>FOR OUR NEWLETTER AND PROMOTION</p>
          </div>
          <div class="email-subscribe">
            <form action="#">
              <input class="email-subscribe-form" type="email" placeholder="Enter Your Email">
              <input class="email-button" type="submit" value="Subscribe"></form>
          </div>
        </div>
      </div>
      <div class="img-backdround"></div>
    </section>
    <div class="footer-info">
      <div class="footer-info1">
        <a class="logo logo-margin-bottom" href="#"> <img src="img/logo.png" alt="logo">BRAN<span
            class="special-D">D</span></a>
        <div class="footer-text">
          <p class="p-margin-bottom">Objectively transition extensive data rather than cross functional
            solutions. Monotonectally syndicate multidisciplinary materials before go&nbsp;forward benefits.
            Intrinsicly syndicate an&nbsp;expanded array of&nbsp;processes and cross-unit partnerships. </p>
          <p>Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize
            superior initiatives for wireless technologies. Dynamically optimize. </p>
          <!--
                           <p class="p-margin-bottom">Objectively strategize seamless relationships via resource sucking testing procedures. Proactively cultivate next-generation results for value-added methodologies. Dynamically plagiarize unique methodologies after performance based methodologies. Monotonectally empower stand-alone mindshare rather than ubiquitous opportunities. Dynamically orchestrate resource sucking scenarios after alternative synergy.</p>

                           <p>Compellingly envisioneer corporate methods of empowerment before standards compliant technologies. Objectively facilitate progressive.</p>
          -->
        </div>
      </div>
      <div class="company">
        <h6 class="footer-h6">COMPANY</h6>
        <ul class="choose">
          <li><a href="#">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">How It&nbsp;Works</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="information">
        <h6 class="footer-h6">INFORMATION</h6>
        <ul class="choose">
          <li><a href="#">Tearms &amp;&nbsp;Condition</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">How to&nbsp;Buy</a></li>
          <li><a href="#">How to&nbsp;Sell</a></li>
          <li><a href="#">Promotion</a></li>
        </ul>
      </div>
      <div class="shop-category">
        <h6 class="footer-h6">SHOP CATEGORY</h6>
        <ul class="choose">
          <li><a href="#">Men</a></li>
          <li><a href="#">Women</a></li>
          <li><a href="#">Child</a></li>
          <li><a href="#">Apparel</a></li>
          <li><a href="#">Brows All</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="footer-copyright-text">
        <div class="copyright">
          <p>&copy;&nbsp;2017 Brand All Rights Reserved.</p>
        </div>
        <div class="social-site">
          <a href="#">
            <div class="icon"><i class="fab fa-facebook-f"></i></div>
          </a>
          <a href="#">
            <div class="icon"><i class="fab fa-twitter"></i></div>
          </a>
          <a href="#">
            <div class="icon"><i class="fab fa-linkedin-in"></i></div>
          </a>
          <a href="#">
            <div class="icon"><i class="fab fa-pinterest-p"></i></div>
          </a>
          <a href="#">
            <div class="icon"><i class="fab fa-google-plus-g"></i></div>
          </a>
        </div>
      </div>
    </div>
  </footer>