    <header class="header">
      <div class="header-flex">
        <div class="header-left">
          <a class="logo" href="index.php"> <img src="img/logo.png" alt="logo">BRAN<span
              class="special-D">D</span></a>
          <form class="form" action="#">
            <div class="browse"><span class="browse-text">Browse</span><i class="fa fa-caret-down"></i>
              <div class="browse-mega-box">
                <div class="browse-mega-flex">
                  <h3>Women</h3>
                  <ul class="browse-mega-menu">
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Tops</a></li>
                    <li><a href="#">Sweaters/Knits</a></li>
                    <li><a href="#">Jackets/Coats</a></li>
                    <li><a href="#">Blazers</a></li>
                    <li><a href="#">Denim</a></li>
                    <li><a href="#">Leggings/Pants</a></li>
                    <li><a href="#">Skirts/Shorts</a></li>
                    <li><a href="#">Accessories </a></li>
                  </ul>
                  <h3>Men</h3>
                  <ul class="browse-mega-menu">
                    <li><a href="#">Tees/Tank tops</a></li>
                    <li><a href="#"> Shirts/Polos </a></li>
                    <li><a href="#">Sweaters</a></li>
                    <li><a href="#">Sweatshirts/Hoodies</a></li>
                    <li><a href="#">Blazers</a></li>
                    <li><a href="#">Jackets/vests</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <input class="search" type="search" placeholder="Search for Item...">
            <button class="submit-search" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
        <div class="header-right">
          <div class="cart-position">
            <a href="index.php?page=single-page"><img src="img/cart.svg" alt="cart"> <!--Посмотреть как вывести нужный товар-->
            </a>
            <div class="cart">
              <div id="cart">

              <!---->
              <!--<div class="goods">-->
                <!--<a href="#">-->
                  <!--<img src="img/Layer_43.jpg" alt="thing"></a>-->
                <!--<div class="cart-text">-->
                  <!--<p class="name-goods">Rebox Zane</p>-->
                  <!--<div class="star">-->
                    <!--<i class="fa fa-star"></i>-->
                    <!--<i class="fa fa-star"></i>-->
                    <!--<i class="fa fa-star"></i>-->
                    <!--<i class="fa fa-star"></i>-->
                    <!--<i class="fa fa-star-half"></i></div>-->
                  <!--<p class="price">1&nbsp;x $250</p>-->
                <!--</div>-->
                <!--<i class="fas fa-times-circle remove-goods"></i>-->
              <!--</div>-->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <!--<div class="goods">-->
                <!--<a href="#">-->
                  <!--<img src="img/Layer_44.jpg" alt="thing"></a>-->
                <!--<div class="cart-text">-->
                  <!--<p class="name-goods">Rebox Zane</p>-->
                  <!--<div class="star">-->
                    <!--<i class="fa fa-star"></i>-->
                    <!--<i class="fa fa-star"></i>-->
                    <!--<i class="fa fa-star"></i>-->
                    <!--<i class="fa fa-star"></i>-->
                    <!--<i class="fa fa-star-half"></i></div>-->
                  <!--<p class="price">1&nbsp;x $250</p>-->
                <!--</div>-->
                <!--<i class="fas fa-times-circle"></i>-->
              <!--</div>-->


              </div>
              <div class="flex-text-between">
                <p>TOTAL</p>
                <p>$<span id="all-price"></span></p>
              </div>
              <div class="checkout"><a class="checkout-text"
                                       href="index.php?page=checkout"><span>Checkout</span></a></div>
              <div class="go-to-card"><a class="go-to-card-text"
                                         href="index.php?page=shopping-cart"><span>Go&nbsp;to&nbsp;cart</span></a>
              </div>
            </div>
          </div>
          <div class="account"><a class="account-text" href="#">
            <span>My&nbsp;Account</span><i class="fa fa-caret-down"></i></a></div>
        </div>
      </div>
    </header>