    <nav>
      <ul class="menu">
        <li><a class="active" href="index.php">Home</a></li>
        <li><a href="index.php?page=product">Man</a></li>
        <li><a href="#">Women</a>
          <div class="mega-box">
            <div class="mega-flex">
              <h3>Women</h3>
              <ul class="mega-menu">
                <li><a href="#">Dresses</a></li>
                <li><a href="#">Tops</a></li>
                <li><a href="#">Sweaters/Knits</a></li>
                <li><a href="#">Jackets/Coats</a></li>
                <li><a href="#">Blazers</a></li>
                <li><a href="#">Denim</a></li>
                <li><a href="#">Leggings/Pants</a></li>
                <li><a href="#">Skirts/Shorts</a></li>
                <li><a href="#">Accessories </a></li>
              </ul>
            </div>
            <div class="mega-flex">
              <h3>Women</h3>
              <ul class="mega-menu">
                <li><a href="#">Dresses</a></li>
                <li><a href="#">Tops</a></li>
                <li><a href="#">Sweaters/Knits</a></li>
                <li><a href="#">Jackets/Coats</a></li>
              </ul>
              <h3>Women</h3>
              <ul class="mega-menu">
                <li><a href="#">Dresses</a></li>
                <li><a href="#">Tops</a></li>
                <li><a href="#">Sweaters/Knits</a></li>
              </ul>
            </div>
            <div class="mega-flex">
              <h3>Women</h3>
              <ul class="mega-menu">
                <li><a href="#">Dresses</a></li>
                <li><a href="#">Tops</a></li>
                <li><a href="#">Sweaters/Knits</a></li>
                <li><a href="#">Jackets/Coats</a></li>
              </ul>
              <a class="mega-menu-link" href="#"><img src="img/Layer_42.jpg" alt="choose-menu">
                <p class="mega-menu-text">Super sale!</p></a>
            </div>
          </div>
        </li>
        <li><a href="#">Kids</a></li>
        <li><a href="#">Accoseriese</a></li>
        <li><a href="#">Featured</a></li>
        <li><a href="#">Hot Deals</a></li>
      </ul>
    </nav>