              <div class="check">
                <h5 class="h5-check">Check as&nbsp;a&nbsp;guest or&nbsp;register</h5>
                <p class="p-check">Register with&nbsp;us for future convenience</p>
                <form action="#">
                  <div class="margin-bottom-for-checkout">
                    <input type="radio" class="radio" name="a" value="guest" id="guest" checked><label
                      for="guest">checkout as&nbsp;guest</label></div>

                  <input type="radio" class="radio" name="a" value="register" id="register"><label for="register">register</label>
                </form>
                <h5 class="h5-check margin">register and save time!</h5>
                <p class="p-check">Register with&nbsp;us for future convenience</p>
                <div class="special-style-arrow"><i class="fas fa-angle-double-right"></i>
                  <p class="p-check-light">Fast and easy checkout</p>
                </div>
                <div class="special-style-arrow"><i class="fas fa-angle-double-right"></i>
                  <p class="p-check-light">Easy access to&nbsp;your order history and status</p>
                </div>
                <div class="button-continue">
                  <a class="button-text" href="#"> <span>Continue</span></a>
                </div>
              </div>