    <section class="check-in">
      <ul class="check-in-menu">
        <li>
          <details open="open">
            <summary class="outline_none"><h3>01. Shipping Adress</h3></summary>
            <div class="check-or-guest">
              {{ check | raw }}
             {{ sign_in | raw }}
            </div>
          </details>
        </li>
        <li>
          <h3>02. BILLING INFORMATION</h3></li>
        <li>
          <h3>03. SHIPPING INFORMATION</h3></li>
        <li>
          <h3>04. SHIPPING METHOD</h3></li>
        <li>
          <h3>05. PAYMENT METHOD</h3></li>
        <li>
          <h3>06. ORDER REVIEW</h3></li>
      </ul>
    </section>