 <div class="registred">
                <h5 class="h5-check">Already registed?</h5>
                <p class="p-check">Please log in&nbsp;below</p>
                <form class="email-password" method="post">
                  <p>EMAIL&nbsp;ADDRESS<sup>&#42;</sup></p>
                  <input type="email" name="email" value="<?=$_COOKIE[login]?>" required>
                  <p>PASSWORD<sup>&#42;</sup></p>
                  <input type="password" name="password" value="<?=$_COOKIE[password]?>" required>
                  <p class="last-p"><sup>&#42;</sup>Required Fileds</p>
                  <div class="flex-special">
                      <button class="log-in" name="log_in"> Log in </button>
<!--                    <input  class="log-in" type="submit" name="log_in" value="Log in">-->
                    <a href="#">Forgot Password ?</a></div>
                </form>

              </div>